In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [ ]:
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
# 모델을 학습시킵니다. 
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 1ms/step - loss: 0.0046
Epoch 2/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0046
Epoch 3/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0046
Epoch 4/10
1/1 [==============================] - 0s 1ms/step - loss: 0.0046
Epoch 5/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0046
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0046
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0046
Epoch 8/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0046
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0046
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0046

In [ ]:
print(model.predict(독립))
print(model.predict([[15]]))

[[40.10152 ]
 [42.061882]
 [44.022243]
 [45.98261 ]
 [47.94297 ]
 [49.90333 ]]
[[30.299704]]